<div id="dc-toolbar">
    <button type="button" id="dc-clipboard-upload-btn" style="background-color: transparent;" class="dc-tooltip">
        <span class="dc-tooltip-text">
            クリップボードのファイル/テキストを暗号化して送信
            <br/><br/>
            <u><b>N.B.</b></u> これにより、後でファイル削除用リンクがクリップボードにコピーされます。
        </span>
        <svg x="0px" y="0px" width="30" height="30" viewBox="0 0 18 18" class="dc-svg">
            <path fill="lightgrey" d="M13 4h-3v-4h-10v14h6v2h10v-9l-3-3zM3 1h4v1h-4v-1zM15
            15h-8v-10h5v3h3v7zM13 7v-2l2 2h-2z"></path>
        </svg>
    </button>
    <button type="button" id="dc-file-btn" style="background-color: transparent;" class="dc-tooltip">
        <span class="dc-tooltip-text">ファイルの暗号化送信</span>
        <svg class="dc-svg" width="24" height="24" viewBox="0 0 1792 1792" fill="lightgrey">
            <path d="M768 384v-128h-128v128h128zm128 128v-128h-128v128h128zm-128
            128v-128h-128v128h128zm128 128v-128h-128v128h128zm700-388q28 28 48
            76t20 88v1152q0 40-28 68t-68 28h-1344q-40 0-68-28t-28-68v-1600q0-40 28-68t68-28h896q40
            0 88 20t76 48zm-444-244v376h376q-10-29-22-41l-313-313q-12-12-41-22zm384 1528v-1024h-416q-40
            0-68-28t-28-68v-416h-128v128h-128v-128h-512v1536h1280zm-627-721l107 349q8 27 8 52 0 83-72.5
            137.5t-183.5 54.5-183.5-54.5-72.5-137.5q0-25 8-52 21-63 120-396v-128h128v128h79q22 0 39
            13t23 34zm-141 465q53 0 90.5-19t37.5-45-37.5-45-90.5-19-90.5 19-37.5 45 37.5 45 90.5 19z">
            </path>
        </svg>
    </button>
    <button type="button" id="dc-settings-btn" style="background-color: transparent;" class="dc-tooltip">
        <span class="dc-tooltip-text">DiscordCryptの設定</span>
        <svg class="dc-svg" enable-background="new 0 0 32 32" version="1.1" viewBox="0 0 32 32"
        width="20px" height="20px" xml:space="preserve">
        <path style="fill:#d3d3d3;"
            d="M28,10H18v2h10V10z M14,10H4v10h10V10z M32,0H0v28h15.518c1.614,2.411,
            4.361,3.999,7.482,4c4.971-0.002,8.998-4.029,9-9
            c0-0.362-0.027-0.718-0.069-1.069L32,22V0z M10,2h12v2H10V2z M6,2h2v2H6V2z M2,2h2v2H2V2z
            M23,29.883
            c-3.801-0.009-6.876-3.084-6.885-6.883c0.009-3.801,3.084-6.876,6.885-6.885c3.799,0.009,6.874,
            3.084,6.883,6.885
            C29.874,26.799,26.799,29.874,23,29.883z M29.999,
            17.348c-0.57-0.706-1.243-1.324-1.999-1.83V14h-4.99c-0.003,0-0.007,0-0.01,0
            s-0.007,0-0.01,0H18v1.516c-2.412,1.614-4,4.361-4,7.483c0,1.054,0.19,2.061,0.523,
            3H2V6h27.999V17.348z M30,4h-4V2h4V4z"></path>
        <path style="fill:#d3d3d3;"
            d="M28,
            24v-2.001h-1.663c-0.063-0.212-0.145-0.413-0.245-0.606l1.187-1.187l-1.416-1.415l-1.165,1.166
            c-0.22-0.123-0.452-0.221-0.697-0.294V18h-2v1.662c-0.229,0.068-0.446,0.158-0.652,
            0.27l-1.141-1.14l-1.415,1.415l1.14,1.14
            c-0.112,0.207-0.202,0.424-0.271,0.653H18v2h1.662c0.073,0.246,0.172,0.479,
            0.295,0.698l-1.165,1.163l1.413,1.416l1.188-1.187
            c0.192,0.101,0.394,0.182,0.605,0.245V28H24v-1.665c0.229-0.068,0.445-0.158,
            0.651-0.27l1.212,1.212l1.414-1.416l-1.212-1.21
            c0.111-0.206,0.201-0.423,0.27-0.651H28z M22.999,
            24.499c-0.829-0.002-1.498-0.671-1.501-1.5c0.003-0.829,0.672-1.498,1.501-1.501
            c0.829,0.003,1.498,0.672,1.5,1.501C24.497,23.828,23.828,24.497,22.999,24.499z"></path>
    </svg>
    </button>
    <button type="button" id="dc-lock-btn" style="background-color: transparent;" class="dc-tooltip">
        <span id="dc-lock-btn-tooltip" class="dc-tooltip-text"></span>
    </button>
    <button type="button" id="dc-passwd-btn" style="background-color: transparent;" class="dc-tooltip">
        <span class="dc-tooltip-text">このチャンネルのパスワード設定</span>
        <svg class="dc-svg" version="1.1" viewBox="0 0 32 32" width="20px" height="20px">
            <path style="fill:#d3d3d3;"
                  d="M13.008518,22 L11.508518,23.5 L11.508518,23.5 L14.008518,26 L11.008518,
            29 L8.50851798,26.5 L6.63305475,28.3754632 C5.79169774,29.2168202
            4.42905085,29.2205817 3.5909158,28.3824466 L3.62607133,28.4176022 C2.78924,27.5807709
            2.79106286,26.2174551 3.63305475,25.3754632 L15.7904495,13.2180685
            C15.2908061,12.2545997 15.008518,11.1602658 15.008518,10 C15.008518,6.13400656 18.1425245,
            3 22.008518,3 C25.8745114,3
            29.008518,6.13400656 29.008518,10 C29.008518,13.8659934 25.8745114,17 22.008518,
            17 C20.8482521,17 19.7539183,16.7177118 18.7904495,16.2180685
            L18.7904495,16.2180685 L16.008518,19 L18.008518,21 L15.008518,24 L13.008518,22 L13.008518,
            22 L13.008518,22 Z M22.008518,14 C24.2176571,14
            26.008518,12.2091391 26.008518,10 C26.008518,7.79086089 24.2176571,6 22.008518,
            6 C19.7993789,6 18.008518,7.79086089 18.008518,10 C18.008518,12.2091391
            19.7993789,14 22.008518,14 L22.008518,14 Z" id="key"></path>
        </svg>
    </button>
    <button type="button" id="dc-generate-password-btn" style="background: transparent" class="dc-tooltip">
        <span class="dc-tooltip-text">セキュアなパスフレーズを生成</span>
        <svg class="dc-svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24" style="fill: #a9a9a9;">
            <g>
                <path d="M 16.15625 2 C 14.683594 2.058594 13.421875 3.042969 12.082031 4.382813 C 11.074219 5.390625
                10.042969 6.660156 9.046875 8.074219 C 8.535156 8.109375 8.039063 8.15625 7.558594 8.21875 C 7.226563
                7.21875 7.011719 6.320313 7 5.679688 C 6.988281 5.117188 7.050781 4.65625 7.140625 4.382813 C 7.230469
                4.105469 7.304688 4.058594 7.335938 4.042969 C 7.378906 4.019531 7.417969 4.007813 7.496094
                4 C 7.945313 3.964844 8.542969 4.089844 9.359375 4.769531 L 10.640625 3.230469 C 9.519531 2.300781
                8.359375 1.929688 7.347656 2.007813 L 7.34375 2.007813 C 7.035156 2.03125 6.714844 2.113281 6.425781
                2.257813 C 5.804688 2.578125 5.429688 3.171875 5.234375 3.765625 C 5.042969 4.363281 4.988281 5.011719
                5 5.71875 C 5.019531 6.601563 5.226563 7.582031 5.53125 8.585938 C 5.15625 8.675781 4.78125 8.765625
                4.445313 8.875 C 3.550781 9.15625 2.78125 9.503906 2.164063 9.976563 C 1.550781 10.449219 1.046875
                11.121094 1 11.949219 C 0.960938 12.699219 1.335938 13.398438 1.828125 13.871094 C 2.324219 14.339844
                2.941406 14.660156 3.636719 14.933594 L 4.363281 13.066406 C 3.816406 12.855469 3.410156 12.609375
                3.203125 12.417969 C 3 12.222656 2.992188 12.160156 3 12.050781 C 3.003906 11.972656 3.050781 11.820313
                3.382813 11.5625 C 3.71875 11.304688 4.300781 11.015625 5.046875 10.78125 C 5.398438 10.667969 5.789063
                10.570313 6.203125 10.480469 C 6.386719 10.929688 6.582031 11.371094 6.785156 11.8125 C 5.492188
                14.480469 4.96875 16.976563 5 18.714844 C 5.019531 19.890625 5.457031 20.96875 6.355469 21.550781
                C 6.941406 21.933594 7.710938 22.085938 8.4375 21.9375 C 9.160156 21.789063 9.851563 21.414063
                10.628906 20.859375 L 9.46875 19.234375 C 8.8125 19.699219 8.328125 19.917969 8.039063 19.976563
                C 7.746094 20.035156 7.65625 20.011719 7.445313 19.875 C 7.234375 19.738281 7.011719 19.414063
                7 18.679688 C 6.984375 17.664063 7.261719 16.015625 7.960938 14.160156 C 8.011719 14.261719 8.066406
                14.375 8.117188 14.472656 C 9.011719 16.132813 10.351563 18.113281 11.761719 19.632813 C 12.464844
                20.390625 13.179688 21.039063 13.9375 21.472656 C 14.667969 21.894531 15.570313 22.132813 16.414063
                21.75 C 17.148438 21.492188 17.609375 20.828125 17.804688 20.148438 C 18.007813 19.4375 18.03125
                18.636719 17.9375 17.734375 C 17.75 15.933594 17.074219 13.734375 15.878906 11.527344 L 14.121094
                12.472656 C 15.195313 14.472656 15.796875 16.476563 15.949219 17.9375 C 16.023438 18.671875 15.976563
                19.265625 15.882813 19.597656 C 15.789063 19.929688 15.730469 19.898438 15.773438 19.886719 L 15.683594
                19.914063 L 15.597656 19.957031 C 15.574219 19.96875 15.402344 20.007813 14.9375 19.738281 C 14.46875
                19.472656 13.851563 18.941406 13.230469 18.269531 C 11.984375 16.929688 10.6875 15.03125 9.882813
                13.527344 C 9.601563 13.007813 9.3125 12.417969 9.03125 11.816406 C 9.257813 11.402344 9.5 10.988281
                9.765625 10.574219 C 9.890625 10.386719 10.015625 10.210938 10.136719 10.03125 C 10.425781 10.019531
                10.707031 10 11.003906 10 C 11.476563 10 11.960938 10.011719 12.457031 10.035156 C 15.109375 10.175781
                17.417969 10.660156 18.964844 11.300781 C 19.738281 11.621094 20.316406 11.984375 20.636719 12.296875
                C 20.957031 12.609375 21.011719 12.796875 21 12.949219 C 21.003906 12.925781 20.949219 13.128906
                20.578125 13.378906 C 20.203125 13.628906 19.582031 13.882813 18.828125 14.015625 L 19.171875 15.984375
                C 20.152344 15.8125 21.011719 15.496094 21.691406 15.039063 C 22.371094 14.582031 22.953125 13.9375 23
                13.050781 C 23.042969 12.203125 22.617188 11.433594 22.027344 10.859375 C 21.4375 10.285156 20.660156
                9.835938 19.730469 9.453125 C 17.875 8.683594 15.390625 8.1875 12.5625 8.039063 C 12.230469 8.023438
                11.90625 8.023438 11.578125 8.015625 C 12.230469 7.167969 12.882813 6.410156 13.5 5.796875 C 14.6875
                4.605469 15.796875 4.019531 16.234375 4 C 16.425781 3.996094 16.515625 4.027344 16.582031 4.070313
                C 16.753906 4.183594 17.390625 5.132813 16.453125 6.640625 L 18.15625 7.695313 C 19.503906 5.515625
                19.074219 3.304688 17.671875 2.394531 C 17.214844 2.097656 16.675781 1.980469 16.15625 2 Z M 12 11
                C 11.449219 11 11 11.449219 11 12 C 11 12.550781 11.449219 13 12 13 C 12.550781 13 13 12.550781 13
                12 C 13 11.449219 12.550781 11 12 11 Z ">
                </path>
            </g>
        </svg>
    </button>
    <button type="button" id="dc-quick-exchange-btn" style="background-color: transparent;" class="dc-tooltip">
        <span class="dc-tooltip-text">パブリックキーを生成&送信</span>
        <svg class="dc-svg"
             x="0px" y="0px" viewBox="0 0 58 58" width="20px" height="20px">
            <path style="fill:#d3d3d3;"
                  d="M27.767,26.73c-2.428-2.291-3.766-5.392-3.766-8.729c0-6.617,5.383-12,12-12s12,5.383,12,12
            c0,3.288-1.372,6.469-3.765,8.728l-1.373-1.455c2.023-1.909,
            3.138-4.492,3.138-7.272c0-5.514-4.486-10-10-10s-10,4.486-10,10
            c0,2.781,1.114,5.365,3.139,7.274L27.767,26.73z"></path>
            <path style="fill:#d3d3d3;"
                  d="M56.428,38.815c-0.937-0.695-2.188-0.896-3.435-0.55l-15.29,4.227 C37.891,42.028,38,41.522,38,
            40.991c0-2.2-1.794-3.991-3.999-3.991h-9.377c-0.667-1-2.363-4-4.623-4H16v-0.999
            C16,30.347,14.654,29,13,29H9c-1.654,0-3,1.347-3,3v17C6,50.655,7.346,52,9,52h4c1.654,0,
            3-1.345,3-2.999v-0.753l12.14,8.201 c1.524,1.031,3.297,1.55,5.075,1.55c1.641,
            0,3.286-0.441,4.742-1.33l18.172-11.101C57.283, 44.864,58,43.587,58,42.233v-0.312
            C58,40.688,57.427,39.556,56.428,38.815z M14,49C14,49.553,13.552,
            50,13,50h-1v-4h-2v4H9c-0.552,0-1-0.447-1-0.999v-17
            C8,31.449,8.448,31,9,31h4c0.552,0,1,0.449,1,1V49z M56,42.233c0,0.66-0.35,1.284-0.913, 1.628L36.915,54.962
            c-2.367,1.443-5.37,1.376-7.655-0.17L16,45.833V35h4c1.06,0,2.469,2.034,3.088,3.409L23.354,39h10.646
            C35.104,39,36,39.892,36,40.988C36,42.098,35.104,43,34,43H29h-5v2h5h5h2l17.525-4.807c0.637-0.18,
            1.278-0.094,1.71,0.228 C55.722,40.781,56,41.328,56,41.922V42.233z"></path>
            <path style="fill:#d3d3d3;"
                  d="M33,25.394v6.607C33,33.655, 34.347,35,36,35H38h1h4v-2h-4v-2h2v-2h-2v-3.577
            c3.02-1.186,5-4.079,5-7.422c0-2.398-1.063-4.649-2.915-6.177c-1.85-1.524-4.283-2.134-6.683-1.668
            c-3.155,0.614-5.671,3.153-6.261,6.318C27.39,20.523,29.933,24.041,33,
            25.394z M30.108,16.84c0.44-2.364,2.319-4.262,4.677-4.721 c1.802-0.356,3.639,0.104,5.028,1.249S42,
            16.202,42,18c0,2.702-1.719,5.011-4.276,5.745L37,23.954V33h-0.999
            C35.449,33,35,32.553,35,32v-8.02l-0.689-0.225C31.822,22.943,29.509,20.067,30.108,16.84z"></path>
            <path d="M36,22c2.206,0,4-1.794,4-4s-1.794-4-4-4s-4,1.794-4,4S33.795,22,36,22z
            M36,16c1.103,0,2,0.897,2,2s-0.897,2-2,2s-2-0.897-2-2S34.898,16,36,16z"></path>
            <path style="fill:#d3d3d3;" d="M 36 18 m -3, 0 a 3,3 0 1,0 6,0 a 3,3 0 1,0 -6,0"></path>
        </svg>
    </button>
</div>
