<div id="dc-master-overlay" class="dc-overlay">
    <div id="dc-overlay-centerfield" class="dc-overlay-centerfield" style="top: 30%">
        <h2 style="color:#ff0000;" id="dc-header-master-msg"></h2>
        <br/><br/>

        <span id="dc-prompt-master-msg"></span><br/>
        <input type="password" class="dc-password-field" id="dc-db-password" title="データベースのパスワード"/>
        <br/>

        <div class="dc-ruler-align" style="padding-top:20px;">
            <button class="dc-button" style="width:100%;" id="dc-unlock-database-btn"></button>
        </div>
    </div>
</div>
